/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*MENU-------------------------------*/

span {
    position: absolute;
    z-index: 1;
    right: 50px;
    top: 30px;
    color: white;
    position: fixed;
    font-size: 6rem;
    cursor: pointer;
}

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 30%;
    width: 100%;
    text-align: left;
    margin-top: 30px;
    margin-left: 5%;
    font-family: 'Work Sans', sans-serif;
    text-shadow: -5px 5px 3px grey;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 90px;
    line-height: 100px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    /*
    display: flex;
    justify-content: center;
*/
    position: absolute;
    left: 46vw;
    bottom: 6%;
    font-size: 8vw;
    color: white;
}


/*BODY EN SECTIONS-----------------------*/

body {
    font-family: sans-serif;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

.home section {
    border-bottom: 1px solid white;
    height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
}


/*Section Fresstyle-----------------------*/

.home section:nth-child(1) {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /*    display: flex;*/
    /*    justify-content: center;*/
    background-color: black;
}

.home section:nth-child(1) video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    filter: grayscale(1);
    opacity: .8;
}


/*Section Rouw Direct-----------------------*/

.home section:nth-child(2) {
    background-image: url(rouwendirect.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/*Section Aantrekkingskracht-----------------*/

.home section:nth-child(3) {
    background-color: gray;
    background-image: url(faith.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}


/*Section Nietsontziend-----------------*/

.home section:nth-child(4) {
    background-color: gray;
    background-image: url(aantrekking.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/*Section teksten soupless---------------*/

.home section:nth-child(5) {
    background-color: cadetblue;
    background-image: url(easy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/*Section Navolgers-----------------*/

.home section:nth-child(6) {
    background-color: pink;
    background-image: url(who.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

h2 {
    font-family: 'Work Sans', sans-serif;
    position: absolute;
    bottom: 25vh;
    text-align: left;
    color: white;
    width: 95%;
    left: 0;
    /*    font-size: 5em;*/
    font-size: 12vw;
    letter-spacing: -.5vw;
    text-shadow: -5px 5px 3px grey;
    padding-left: 5%;
}

h2 a {
    text-shadow: -5px 5px 3px orange;
    color: white;
    text-decoration: none;
    margin-top: 1em;
    width: 100%;
    /*    z-index: -1;*/
}

section a {
    position: absolute;
    bottom: 11vh;
    width: 50%;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 2em;
    text-decoration: none;
    color: black;
}

section a:visited {
    color: black;
}

a.lezen {
    left: 0vh;
    background-color: indianred;
}

a.extra {
    right: 0vh;
    background-color: paleturquoise;
}


/*FREESTYLE PAGINA-----------------*/

.freestylebody {
    background-color: black
}

.freestyleheader {
    width: 100vw;
    height: 50vh;
}

.freestyleheader video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 50vh;
    width: 100vw;
    filter: grayscale(1);
}

.sectionfreestyle {
    padding-top: 75px;
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tunebutton {
    background-color: darkgrey;
    /*    padding: 7vh 12vw 7vh 12vw;*/
    width: 30%;
    height: 15vh;
    margin-bottom: 2em;
    animation: tunebutton .5s ease-in forwards;
    opacity: 0;
    border: solid 5px;
    border-bottom-color: lightgray;
    border-right-color: lightgray;
    border-top-color: dimgrey;
    border-left-color: dimgrey;
}

.tunebutton:nth-child(2) {
    animation-delay: .2s;
}

.tunebutton:nth-child(3) {
    animation-delay: .4s;
}

.tunebutton:nth-child(4) {
    animation-delay: .3s;
}

.tunebutton:nth-child(5) {
    animation-delay: .5s;
}

.tunebutton:nth-child(6) {
    animation-delay: .7s;
}

@keyframes tunebutton {
    0% {
        margin-top: 4vh;
        opacity: 0;
    }
    90% {
        margin-top: 0vh;
    }
    100% {
        opacity: 1;
    }
}

.tunebutton:active {
    background-color: blue;
}

.back {
  left: 50px;
    top: 50px;
    font-size: 3em;
    color: red;
    position: absolute;
    z-index: 2;
}
